<form action="/login" method="POST" class="flex flex-column">
	<input type="text" name="name" placeholder="Username" id="name" required class="box">
	<input type="password" name="password" placeholder="Password" id="password" required class="box">
	<input type="submit" value="Login" class="button-primary bg-color-primary">
</form>
