@import "custom/_notification.css";
@import "custom/_text.css";
@import "custom/_spacing.css";
@import "custom/_logo.css";

/* Reset browser styling */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/assets/images/waves.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  height: 100vh;
}

#app {
  padding: 1.5rem;
}

.container {
  width: 75%;
  max-width: 615px;
}

.pointer {
  cursor: pointer;
}

.none {
  display: none;
}

.notification,
.button-primary {
  padding: 1rem 0.8rem;
}

.box,
.button-primary {
  padding: 0.7rem 1rem;
  border: 2px solid #f6f6f6;
  border-radius: 8px;
  margin-bottom: 0.8rem;
}

.button-primary {
  display: block;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  padding: 1rem 0.8rem;
  background: #16396b;
  color: #fefefe;
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

textarea::placeholder {
  font-size: 1rem;
}
