<div>
	<h2 id="form-title" class="mb-8">{{ title }}</h2>
	<form action="{{action}}" method="POST" class="flex flex-column">
		<input type="text" name="title" placeholder="Title" id="title" required class="box">
		<textarea name="descripton" id="description" required class="box" placeholder="Description" rows="10"></textarea>
		<input type="submit" value="Login" class="button-primary bg-color-primary">
	</form>
</div>
